.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.body {
    min-height: 80vh;
}
.btn-login {
    margin-top: 10px;
}
.input-group {
    width: 100%;
}
.panel {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}
.panel-heading {
    text-align: center;
}
.input-group > textarea {
    height: 20em;
}

.input-group {
    margin-bottom: 15px;
}
.btn-add {
    margin-bottom: 10px;
}

.note-text {
    font-size: 20pt;
}
.btn-map {
    margin-right: 15px;
}
.table-actions {
    text-align: right;
}
#myDiagramDiv {
    width:100%;
    height:70vh;
    background-color: #ffffff;
}
.map-top #myDiagramDiv {
    height:25vh;
}
.map-top {
    height: 25vh;
}
